body{background-color: #00000B;text-aling: :justify:fustify:FONT-SIZE:18PX;}
h1{text-aling:center;background-color: #029BA1:}
h3{text-aling:color: #5CE5E6;;}
b {color: #CD7BA4;font: size 18px;;}
i{color: #FF2977;font-size:18px;}
header , foother{background-color:#80c9ad;color: #f50e40;text-aling: center;fontS;}
main{background-color: #f353d0;}